.concept-header {
  padding-left: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

.concept-header a {
  margin-right: 1em;
}

.concept-question {
  text-align: center;
}

.concept-answer {
  min-height: 6em;
  white-space: pre-line;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.concept-subconcepts {
  padding-left: 1em;
}

.review-subconcept {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;

}

.review-button-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 50%;
}

.review-actions {
  text-align: center;
}

.review-complete {
  text-align: center;
}

.search-area {
  width: 70%;
  margin: auto;
  text-align: center;
}

.search-box input {
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.search-results {
  text-align: left;
  width: 100%;
}

form label {
  display: block;
}

form input {
  margin-bottom: 1em;
  width: 70%;
}

p {
  padding: none;
  margin: none;
  line-height: 1;
}

span {
  display: block;
  margin-bottom: 0.5em
}

form textarea {
  width: 70%;
  min-height: 10em;
}
